# IDE
.idea/

# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/
env/

# Training outputs
checkpoints/
lightning_logs/
tabular_dataset/
*.pt
*.pth
*.ckpt
*.ppt

# Data and logs
*.parquet
*.csv
*.log
wandb/

# OS and env
.DS_Store
Thumbs.db
.env
.env.*
